<ins class="bookingaff" data-aid="{{include.block_id}}" data-target_aid="{{include.aid}}" data-prod="nsb" data-width="100%" data-height="auto" data-dest_id="{{include.dest_id}}" data-dest_type="{{include.dest_type | default: hotel}}">
    <!-- Anything inside will go away once widget is loaded. -->
    <a href="//www.booking.com?aid={{include.aid}}">Booking.com</a>
</ins>
<script type="text/javascript">
    (function(d, sc, u) {
      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = u + '?v=' + (+new Date());
      p.parentNode.insertBefore(s,p);
      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
</script>
