<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <i class="wi wi-day-sunny"></i>
        <a href="/">
          {{ site.title }}
        </a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Waterparks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for waterpark in site.water-parks %}
              <li>
                <a href='{{ waterpark.url }}'>
                  {{ waterpark.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
