{% include html-head.html %}
  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      {% include carousel.html carousel=page.carousel %}
      {% include header.html %}
      <div class="container">
        <div class="col-md-5">
          <i class="wi wi-day-sunny"></i>
          <div class="key-line"></div>
          <h2>{{ page.jumbotron-heading }}</h2>
          <p>{{ page.jumbotron-sub-heading }}</p>
          <a href="/water-parks" class="btn btn-info">Find a Water Park &raquo;</a>
        </div>
      </div>
    </div>

    <div class="callouts-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 banner-margin-bottom">
            {% include ad-block.html ad-slot="4931323640" %}
          </div>
        </div>
        <div class="row">
          {% for callout in page.callouts %}
              <div class="{{ 12 | divided_by: page.callouts.size | prepend: "col-md-" }} callout">
                <h2>
                    <span class="icon {{ callout.icon }}"></span> {{ callout.name }}
                    <div class="key-line"></div>
                </h2>
                <p>{{ callout.description}}</p>
              </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12 banner-margin-top">
            {% include ad-block.html ad-slot="6408056842" %}
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container">
        <div class="row heading">
          <h1>
            {{page.heading}}
            <div class="key-line"></div>
          </h1>
        </div>
        <div class="row content">
          <div class="col-md-12">
            {{ page.content | markdownify }}
          </div>
        </div>
      </div> <!-- /container -->
    </div>
    <div class="content-wrapper">
      <div class="container">
        <h2>
          <span class="icon fa fa-life-saver"></span>
          Water Park Listings
          <div class="key-line"></div>
        </h2>
        <div class="row">
          {% include water-park-cards.html %}
        </div>
        <div class="row cta">
          <a href="/water-parks" class="btn btn-info btn-lg">Find a Water Park by Location &raquo;</a>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
    $(function() {
      $('.slick-carousel').slick({
        autoplay: true,
        autoplaySpeed: 5000,
        arrows: false,
        draggable: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
    </script>
  </body>
</html>
