{% include html-head.html %}
  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            <span class="icon fa fa-life-saver"></span>
            {{ page.title }}
            <div class="key-line"></div>
          </h1>
          <p>Click on a map marker to be taken to that water park's listing</p>
          <div class="big-map map"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2>
        <span class="icon fa fa-life-saver"></span>
        Water Park Listings
        <div class="key-line"></div>
      </h2>
      <div class="row">
        {% include water-park-cards.html %}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
      $(function() {
        var waterparkData = [
          {% for waterpark in site.water-parks %}
            {% if (waterpark.location.lat && waterpark.location.lng) %}
              {
                "lat": {{ waterpark.location.lat }},
                "lng": {{ waterpark.location.lng }},
                "url": "{{waterpark.url}}",
                "name": "{{waterpark.title}}"
              },
            {% endif %}
          {% endfor %}
        ];

        var waterparkCollection = new waterparks.Collections.WaterParks(waterparkData);
        var mapView = new waterparks.Views.BigMapView({
          el: '.big-map',
          collection: waterparkCollection
        }).render();
      });
    </script>

  </body>
</html>
